.banner {
    color: #A0522D;
    font-weight: 900;
    margin-left: 80px;
}

.title {
    margin-left: 80px;
}

.employer_form {
    margin-left: 80px;
    margin-top: 30px;
}

.sign_in_section {
    margin-top: 100px;
}