
.page-nav li a {
    display: block;
    border-radius: 50%;
}

ul li.pageNumber {
    width: 50px;
    height: 50px;
    text-align: center;
}

ul li.pageNumber:hover a {
    background: black;
    color: white;
}

.card-img-top {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.disabled {
    pointer-events:none;        
}

/* !Desktop and iPad Pro */

@media (max-width: 1200px) {
    .advice {
        width: 19rem !important;
    }
    .topic-post {
        grid-template-columns: 1fr 1fr;
    }
}


/* !iPad */

@media (max-width: 768px) {
    .advice {
        width: 20.5rem !important;
    }
}


/* !iPhone Plus */

@media screen and (max-width: 576px) {
    .advice {
        width: 23.5rem !important;
    }
    ul li.pageNumber {
        width: 40px;
        height: 40px;
    }
    .page-nav li {
        border-radius: 55%;
    }
}


/* !iPhone 6 & 8 */

@media screen and (max-width: 400px) {
    .advice {
        width: 21.5rem !important;
    }
    /* ul li.pageNumber{
        width: 40px;
        height: 40px;
    }
    .page-nav li{
        border-radius: 55%;
    } */
}


/* !iPhone 5/SE */

@media screen and (max-width: 360px) {
    .advice {
        width: 18rem !important;
    }
}
