.love-btn:hover{
    color: #FFF;
}
.jumbotron-fluid{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/simu_liu.jfif) 
    center/cover no-repeat;
    height: 50vh;
}
.nav-tabs a{
    color: sienna;
}